<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) (2022) Apple Inc. All rights reserved.

 corecrypto is licensed under Apple Inc.’s Internal Use License Agreement (which
 is contained in the License.txt file distributed with corecrypto) and only to
 people who accept that license. IMPORTANT:  Any license rights granted to you by
 Apple Inc. (if any) are limited to internal use within your organization only on
 devices and computers you own or control, for the sole purpose of verifying the
 security characteristics and correct functioning of the Apple Software.  You may
 not, directly or indirectly, redistribute the Apple Software or any portions thereof.
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleVirtIOEntropyUserClient</string>
	</array>
</dict>
</plist>
