[submodule "AppleSources/clang"]
	path = AppleSources/clang
	url = https://github.com/llvm-mirror/clang.git
[submodule "AppleSources/foundation"]
	path = AppleSources/foundation
	url = https://github.com/apple/swift-corelibs-foundation.git
[submodule "AppleSources/libdispatch"]
	path = AppleSources/libdispatch
	url = https://github.com/apple/swift-corelibs-libdispatch.git
[submodule "AppleSources/darwin-xnu"]
	path = AppleSources/darwin-xnu
	url = https://github.com/apple/darwin-xnu.git
[submodule "AppleSources/JavaScriptCore"]
	path = AppleSources/JavaScriptCore
	url = https://github.com/phoboslab/JavaScriptCore-iOS.git
[submodule "ThinAppTools/ioscmpr"]
	path = ThinAppTools/ioscmpr
	url = https://github.com/tripleCC/ioscmpr.git
[submodule "AppleSources/llvm"]
	path = AppleSources/llvm
	url = https://github.com/llvm-mirror/llvm.git
[submodule "SourceCodes/lua"]
	path = SourceCodes/lua
	url = https://github.com/lua/lua.git
[submodule "AppleSources/darwin-libpthread"]
	path = AppleSources/darwin-libpthread
	url = https://github.com/apple/darwin-libpthread.git
[submodule "AppleSources/ld64"]
	path = AppleSources/ld64
	url = git@github.com:apple-opensource/ld64.git
[submodule "Tai-e-assignments"]
	path = Tai-e-assignments
	url = git@github.com:tripleCC/Tai-e-assignments.git
[submodule "AppleSources/xnu"]
	path = AppleSources/xnu
	url = git@github.com:apple-oss-distributions/xnu.git
[submodule "AppleSources/objc4"]
	path = AppleSources/objc4
	url = git@github.com:apple-oss-distributions/objc4.git
