<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) (2021-2023) Apple Inc. All rights reserved.

 corecrypto is licensed under Apple Inc.’s Internal Use License Agreement (which
 is contained in the License.txt file distributed with corecrypto) and only to
 people who accept that license. IMPORTANT:  Any license rights granted to you by
 Apple Inc. (if any) are limited to internal use within your organization only on
 devices and computers you own or control, for the sole purpose of verifying the
 security characteristics and correct functioning of the Apple Software.  You may
 not, directly or indirectly, redistribute the Apple Software or any portions thereof.
-->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>corecrypto</string>
	<key>RadarComponents</key>
	<dict>
		<key>Name</key>
		<string>corecrypto</string>
		<key>Version</key>
		<string>all</string>
	</dict>
	<key>Tests</key>
	<array>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cc</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cc</string>
			<key>AsRoot</key>
			<true/>
			<key>MayRunConcurrently</key>
			<false/>
			<key>Tags</key>
			<array>
				<string>perf</string>
			</array>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccn</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccn</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccder</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccder</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccentropy</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccentropy</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test</string>
				<string>ccrng</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccrng_nosan</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccrng</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccrng</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccdrbg</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccdrbg</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccpad</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccpad</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccansikdf</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccansikdf</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cchkdf</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cchkdf</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccnistkdf</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccnistkdf</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccnistkdf_cmac</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccnistkdf_cmac</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccscrypt</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccscrypt</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccspake</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccspake</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cchpke</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cchpke</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cc_dylib</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cc_dylib</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccsae</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccsae</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccvrf</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccvrf</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccckg</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccckg</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>constanttime</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.constanttime</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccaes_unwind</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccaes_unwind</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccdigest</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccdigest</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cchmac</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cchmac</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cccmac</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cccmac</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccpbkdf2</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccpbkdf2</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccaes_modes</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccaes_modes</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccdes_modes</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccdes_modes</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cccast_modes</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cccast_modes</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccrc2_modes</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccrc2_modes</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccblowfish_modes</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccblowfish_modes</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccrc4_cipher</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccrc4_cipher</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cclr</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cclr</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cczp</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cczp</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccrsa</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccrsa</string>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>3600</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccrsabssa</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccrsabssa</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccchacha</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccchacha</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccec25519</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccec25519</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccec448</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccec448</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccec</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccec</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccecies</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccecies</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccec_import_export</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccec_import_export</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccec_curve_validation</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccec_curve_validation</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccdh</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccdh</string>
			<key>MayRunConcurrently</key>
			<true/>
			<key>ShellEnv</key>
			<dict>
				<key>OS_LOG_FAULT_REPORTS</key>
				<string>off</string>
			</dict>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccsrp</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccsrp</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccwrap</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccwrap</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccprime_rabin_miller</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccprime_rabin_miller</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccfips_trace</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccfips_trace</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cckprng</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cckprng</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cch2c</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cch2c</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccsigma</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccsigma</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cckeccak</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cckeccak</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>ccshake</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.ccshake</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/corecrypto_perf</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.corecrypto_perf</string>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>3600</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/corecrypto_thermal</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.corecrypto_thermal</string>
			<key>AsRoot</key>
			<true/>
			<key>MayRunConcurrently</key>
			<true/>
			<key>RequiresSysctl</key>
			<string>kern.monotonic.task_thread_counting==1</string>
			<key>RequiresOSVariant</key>
			<string>variant!=IsDarwinOS</string>
		</dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
                <string>ccpolyzp_po2cyc</string>
            </array>
            <key>TestName</key>
            <string>corecrypto.ccpolyzp_po2cyc</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
                <string>ccbfv</string>
            </array>
            <key>TestName</key>
            <string>corecrypto.ccbfv</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
                <string>cche</string>
            </array>
            <key>TestName</key>
            <string>corecrypto.cche</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cckem</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cckem</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/corecrypto_test_asan</string>
				<string>cckyber</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.cckyber</string>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/corecrypto/generate_coverage_data.sh</string>
			</array>
			<key>TestName</key>
			<string>corecrypto.coverage</string>
			<key>MayRunConcurrently</key>
			<true/>
			<key>AsRoot</key>
			<true/>
			<key>Timeout</key>
			<integer>3600</integer>
			<key>TestSpecificLogs</key>
			<array>
				<string>BATS_TMP_DIR/corecrypto_coverage/corecrypto_coverage.profdata</string>
				<string>/var/logs/corecrypto_coverage/corecrypto_coverage.lcov</string>
				<string>BATS_TMP_DIR/corecrypto_coverage/corecrypto_test.log</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
